<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
	<title>Deployment on Flask</title>
	<style>
	#para1{
		text-align:center
		font-family:Cooper Black;
	}
	body{
		background-color:#301934;
		margin-top:10%;
	}
	#para{
		text-align:center;
	}
	input[type=text] {
		border: 2px solid white;
		border-radius: 20px;
	}
	button{
		font-family:Cooper Black;
		color:black;
	}
	</style>
</head>

<body>
    <!-- Main Input For Receiving Query to our ML -->
<h1 id="para">Predicting the Profit</h1>
<span id='para'>
	<form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="R&D Spend" placeholder="R&D Spend" required="required" />
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<input type="text" name="Administration" placeholder="Administration" required="required" />
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
    	<input type="text" name="Marketing_Spend" placeholder="Marketing_Spend" required="required" />
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Profit</button>
    </form>
   <br>
   <br>
    {{ prediction_text }}
</span>
</body>
</html>